html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

button {
    cursor: pointer;
}

#app-body {
    height: 100%;

    display: flex;
}

.menu-panel {
    border: 2px solid red;
    height: 100%;
    flex: 1;

    padding: 2rem 4rem;

    display: flex;
    flex-direction: column;
}

.menu-panel h1 {
    color: red;
    margin-bottom: 1.5rem;

    position: relative;
}

.menu-panel p {
    color: green;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.menu-panel p:hover {
    color: rgb(0, 85, 0);
    cursor: pointer;
}

.user-profile {
    /* border: 2px solid green; */
    flex: 1;
}

.task-section {
    /* border: 2px solid orange; */
    flex: 3;
}

.add-task {
    position: absolute;
    right: 0;
    top: -0.15rem;
    background: none;
    border: none;
    box-shadow: none;
    font-size: 2.5rem;
}

.add-task:hover {
    cursor: pointer;
    font-weight: bold;
}

.project-section {
    /* border: 2px solid purple; */
    flex: 3;
}

.app-display {
    padding: 4rem;
    border: 2px solid blue;
    flex: 4;
}

.task-form {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: 60rem;
    height: 15rem;
    border: 2px solid pink;
}

.add-btn,
.cancel-btn {
    width: 10rem;
    height: 3rem;

    font-size: 1.6rem;

    background-color: pink;
    border: none;
}
